@tailwind base;
@tailwind components;
@tailwind utilities;
aside {
  transition-timing-function: ease-in
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #F68045;
}


/* Hovering service card */
article.service-artc:hover div.service-ovrl {
  opacity: 1;
}

article.service-artc:hover h1 {
  transform: translateY(0px);
}

/* Changing label color when focus on input: */
input:focus ~ .input-label {
  color: #F3F2F3 !important
}